// qui inserisco tutte le mia variabili

$font: 'Montserrat', sans-serif;
$primary-color: #666665;
$second-color: #f9d03f;
$buttoncolor: #31312f;
$textcolor: #bcbcbc;
$titlecolor: #6b6868;

$azzurro: #4ea4a5;
$blu: #4e6da5;
$arancione: #f6722a;
$verde: #a7cf47,